:root {
  --primary-tint: #00ffff;
  --secondary-tint: #008080;
  --primary: #001010;
  --secondary: #eeffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: var(--secondary);
  color: var(--primary);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-tint);
}

a:hover {
  color: var(--primary-tint);
  background: var(--primary);
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.main-container h1 {
  text-align: center;
}

.calc-container {
  max-width: 400px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  margin: auto;
  background: var(--primary);
  color: var(--secondary);
  margin: 20px;
}

.display-container {
  display: flex;
  flex-flow: column;
  align-items: end;
  justify-content: end;
  padding: 3em 2em 1em;
}
.display-container h3 {
  margin: 0;
  font-size: 3em;
  height: 54px;
  font-weight: 400;
}

.button-container {
  margin: 0 2em 1em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 2em;
}

.btn {
  font-size: 2em;
  background: var(--secondary);
  color: var(--primary);
  text-align: center;
  padding: 0.4em 0.6em;
  border-radius: 50px;
  margin: 0;
  cursor: pointer;
}
.btn:hover {
  background: var(--primary-tint)
}

.operator, .bckspace, .equal {
  color: var(--secondary-tint);
}

.clear {
  color: red;
}

.equal {
  grid-column: 4;
  grid-row: 4 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pos-neg {
  font-size: 1.2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .calc-container {
    max-width: 90vw;
  }
  .display-container {
    padding: 1em 1em 0.5em;
  }
  .display-container h3 {
    font-size: 2.3em;
  }
  .btn {
    font-size: 1.5em;
  }
  .pos-neg {
    font-size: 1em;
  }
}

@media screen and (max-width: 350px) {
  .calc-container {
    margin: 10px;
  }
  .display-container {
    padding: 0.5em 1em 0;
  }
  .display-container h3 {
    font-size: 2em;
  }

  .button-container {
    margin: 1em;
    gap: 1.2em;
  }
  .btn {
    font-size: 1.2em;
  }
  .pos-neg {
    font-size: 0.8em;
  }
}